*{
    margin: 0px;
    padding: 0px;
    background-color: white;

}
.meat img{
    position: absolute;
    margin-left: 8%;
    width: 120px;
    margin-top: 17px;
    float: left;
    transition: opacity 300ms ease-in-out;
    opacity: 100;
    z-index: 100;
}
.meat img:hover{
    opacity: 60%;

}
nav{
    justify-content: right;
    overflow: HIDDEN;
    width: 100%;
    position: fixed;
    z-index: 50;

}
li a {

    display: block;
    height: 4px;
    top: 8px;
    padding: 35px 5px;
    text-decoration: none;
    float: right;
    color: rgb(41, 41, 41);
    text-align: center;
    width: 10%;
    text-align: center;
    position: relative;
    transition: font-size 175ms ease-in-out, color 225ms ease-in-out;

}
.rocket{
    margin-right: 40px;
}
ul{
    font-size: 12px;
    list-style: none;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    padding-left: 15px;
    margin-left: 25px;
    font-weight: normal;
    background: .8;
}

li a:hover{
    color: rgb(121, 168, 192);
    font-size: 13px;
}
li a::after{
    content: "";
    position: absolute;
    left: 15%;
    width: 70%;
    height: 1px;
    background: rgb(41, 41, 41);
    transform: scaleX(0);
    transition: transform 200ms ease-in-out, background 150ms ease-in-out;
}
li a:hover::after{
    transform: scaleX(1);
    background: rgb(121, 168, 192);
}

/*.parallax {

    background-image: url('Logo4.png');
    height: 500px;
    width: 100%;
  }*/

  .RamRider{
    width: 100%;
    z-index: 1;
    overflow: hidden;
    position: absolute;
    top: 0;


}
.OhMyGodda{
  position: absolute;
  border-radius: 3px;
  width: 100%;
  height: 780px;
  opacity: .4;
  background: rgb(41, 41, 41);
  z-index: 10;
}
.robot{
    font-size: 120%;
    margin-left: 47%;
    position: absolute;
    font-family: 'Raleway', sans-serif;
    background-color: transparent;
    font-weight: 500;
    color:white;
    z-index: 50;
    top: 270px;
    letter-spacing: 1.3em;
    text-shadow:  #000000;
}
.Shock h2{
    font-size: 220%;
    margin-left: 25%;
    position: absolute;
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
    color:white;
    font-weight: 900;
    z-index: 50;
    top: 305px;
    letter-spacing: .3em;
    font-variant: small-caps;
    text-shadow:  #000000;
}
.winkwink{
    font-size: 100%;
    margin-left: 30%;
    position: absolute;
    font-family: 'Raleway', sans-serif;
    background-color: transparent;
    font-weight: 500;
    color:white;
    z-index: 59;
    top: 365px;
    font-variant: small-caps;
    letter-spacing: .2em;
}
/*Sauce {
    position: absolute;
    width: 15px;
    top: 220px;
    margin-left: 65%;
    z-index: 55;
    background: transparent;
    transition: width 180ms ease-in-out, margin-left 180ms ease-in-out;
}
.Sauce:hover{
        width: 18px;
}
.Pencil{
    position: absolute;
    border-radius: 3px;
    width: 400px;
    height: 180px;
    opacity: .6;
    margin-left: 64.5%;
    background: rgb(41, 41, 41);
    z-index: 49;
    top: 210px;


}
*/
/*ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    text-align: right;
    justify-content: right;
  }
nav{
    justify-content: space-around;
    width: 100%;
}
li a {
    display: block;
    background-color: red;
    padding: 8px 16px;
    text-decoration: none;
    color: rgb(41, 41, 41);
}
*/
